* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #111;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.caclulator {
    width: 400px;
    height: 75vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    width: 94%;
    height: 30%;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    margin: 10px;
    border: 1px solid #000;
    padding: 30px 20px; 
}

.operatordisplay {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 14px;
    opacity: 0.6;
}

.history {
    font-size: 20px;
    opacity: 0.6;
}

.result {
    font-size: 54px;
}

.panel {
    width: 94%;
    height: 85%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    margin-bottom: 10px;
    flex-direction: column;
}

.buttons {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.button {
    width: 90%;
    height: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}

.equal {
    width: 200%;
    background-color: #ff9500;
    color: #fff;
    opacity: 0.95;
}

button[data-value="*"] {
  font-weight: 500;
}

.operator {
    background-color: #ff9500;
    color: #fff;
    opacity: 0.95;
}

 /* @media (max-width: 600px) {
    .caclulator {
        width: 90vw;
        height: 70%;
    }
 } */

